/* global color palette */
* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #00568d;
    -fx-accent-color: #003a5e;
    -fx-grey-color: #b6b6b6;
    -fx-light-grey-color: #d1d1d1;
    -fx-lightest-grey-color: #ececec;
}

/* styles applying to all pages */
.button {
    -fx-font-size: 12pt;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-pref-height: 40px;
    -fx-label-padding: 0 10px 0 10px;
}

.button:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: -fx-accent-color;
}

.image-view:hover {
    -fx-effect: innershadow(gaussian, -fx-secondary-color, 100, 0, 0, 0);
}

.image-view:pressed {
    -fx-effect: innershadow(gaussian, -fx-accent-color, 100, 0, 0, 0);
}

/* home-page styles */
.home-page-navbar {
    -fx-padding: 20 20 20 20px;
    -fx-spacing: 20px;
}

.home-page-table-view {
    -fx-font-size: 12pt;
    -fx-border-color: -fx-lightest-grey-color;
}

.home-page-table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.home-page-table-view .table-column {
    -fx-alignment: CENTER-LEFT;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.home-page-table-view .table-row-cell{
    -fx-padding: 0 10px 0 10px;
    -fx-cell-size: 50px;
}

.home-page-table-view .table-row-cell:filled:hover {
    -fx-border-color: transparent;
    -fx-background-color: -fx-light-grey-color;
}

.home-page-table-view .table-row-cell:filled:selected {
    -fx-background-color: -fx-grey-color;
}

/* quiz-page styles */
.quiz-page-header {
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-padding: 20px;
}

.quiz-page-header-left {
    -fx-pref-width: 100px;
}

.quiz-page-header-middle {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.quiz-page-header-middle .quiz-name {
    -fx-font-size: 15pt;
}

.quiz-page-header-right {
    -fx-spacing: 20px;
    -fx-pref-width: 150px;
}

.quiz-page-table-view {
    -fx-font-size: 10pt;
}


.quiz-page-table-view .column-header {
    -fx-background-color: -fx-light-grey-color;

}

.table-view .column-header .label{
    -fx-alignment: center-left;
    -fx-font-size: 12pt;
}


.quiz-page-table-view .table-row-cell:filled:hover {
    -fx-background-color: -fx-light-grey-color;
}

.quiz-page-table-view .table-row-cell:filled:selected {
    -fx-background-color: -fx-grey-color;
}

.settings-header-label {
    -fx-font-size: 12pt;
    -fx-padding: 10 10 10 10px;
}